# Auth Configuration
JWT_SECRET=your_jwt_secret_here

# Supabase Configuration
VITE_SUPABASE_URL= https://tggvzwadhieucxoqxcwa.supabase.co
VITE_SUPABASE_ANON_KEY= sb_publishable_cHeZjScWpTx71tG0WTXowg_OoG6r8h0
SUPABASE_URL=
SUPABASE_ANON_KEY=
